# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

# =========================
# Custom
# =========================
BigTemp/
*.jar
.idea


# 压缩文件
*.wmlf
*.wlnet
*.paclet
*.wxf
*.zip
*.7z